---
- name: p2k16 nodejs
  become: yes
  tags:
    - p2k16
    - p2k16-nodejs
  block:
    - name: packages
      apt:
        name: "{{ items }}"
        install_recommends: no
      vars:
        items:
          - apt-transport-https

    - name: Install NodeSource key
      tags: packages
      apt_key:
        id: 1655a0ab68576280
        keyserver: keyserver.ubuntu.com

    - name: nodesource apt repository
      tags: packages
      notify: update apt cache
      copy:
        dest: /etc/apt/sources.list.d/nodesource.list
        content: 'deb https://deb.nodesource.com/node_8.x sid main'

- meta: flush_handlers

- name: accounts for p2k16
  become: yes
  tags: user
  block:
    - name: create p2k16 user
      user:
        name: p2k16
        shell: "/bin/bash"
        createhome: no
        home: /opt/p2k16
        system: yes
    - file:
        path: /opt/p2k16
        owner: p2k16
        mode: u=rwx,go=
    - file:
        state: directory
        path: /opt/p2k16/bin
    - copy:
        src: opt/p2k16/bash_profile
        dest: /opt/p2k16/.bash_profile
    - copy:
        content: ""
        owner: p2k16
        force: no
        dest: "{{ item.dest }}"
      with_items:
        - dest: /opt/p2k16/.bash_history
        - dest: /opt/p2k16/.viminfo

- name: flyway for p2k16
  become: yes
  tags: flyway
  block:
    - file:
        state: directory
        path: /opt/p2k16/flyway
    - template:
        src: opt/p2k16/bin/flyway.j2
        dest: /opt/p2k16/bin/flyway
        mode: a=rx
    - name: Download and extract Flyway {{ flyway_version }}
      unarchive:
        src: "https://repo1.maven.org/maven2/org/flywaydb/flyway-commandline/{{ flyway_version }}/flyway-commandline-{{ flyway_version }}.zip"
        dest: /opt/p2k16/flyway
        creates: "/opt/p2k16/flyway/flyway-{{ flyway_version }}"
        remote_src: yes
    - file:
        path: "/opt/p2k16/flyway/flyway-{{ flyway_version }}/flyway"
        mode: a=rx
    # flyway.conf is created later

- name: www for p2k16
  become: yes
  tags: www
  block:
    - name: Packages for www
      apt:
        name: "{{ items }}"
        install_recommends: no
      vars:
        items:
          - nginx

    - name: no default nginx site
      notify: reload nginx
      file:
        path: /etc/nginx/sites-enabled/default
        state: absent

    - name: nginx config
      notify: reload nginx
      template:
        dest: "/etc/nginx/sites-enabled/{{ p2k16.domain_name }}"
        src: etc/nginx/sites-enabled/p2k16.j2

    - name: docroot dir
      file:
        path: "{{ docroot }}"
        state: directory

    - name: docroot dir
      copy:
        dest: "/{{ docroot }}/index.html"
        src: "docroot/index.html"

- name: p2k16 database
  tags: p2k16-pg
  become: yes
  become_user: postgres
  vars:
    ansible_ssh_pipelining: true
  block:
    - name: p2k16
      postgresql_user:
        name: p2k16
        role_attr_flags: "NOLOGIN"
    - name: p2k16-flyway
      tags: update-password
      postgresql_user:
        name: p2k16-flyway
        password: "{{ p2k16_secret.db_password_flyway }}"
        encrypted: yes
    - name: p2k16-web
      tags: update-password
      notify: p2k16 restart
      postgresql_user:
        name: p2k16-web
        password: "{{ p2k16_secret.db_password_web }}"
        encrypted: yes
    - name: p2k16 db
      postgresql_db:
        name: "p2k16"
        encoding: "utf-8"
        owner: "p2k16"
    - postgresql_privs:
        database: p2k16
        state: present
        privs: USAGE
        type: schema
        objs: public
        roles: p2k16-web,p2k16-flyway

- name: p2k16 main
  become: yes
  tags:
    - p2k16
    - p2k16-config
  block:
    - name: /etc/p2k16
      tags: systemd
      file:
        path: /etc/p2k16
        state: directory

    - name: p2k16 config - environment
      tags:
        - systemd
        - update-password
      notify: p2k16 restart
      no_log: yes
      template:
        dest: "{{ environment_conf }}"
        src: etc/p2k16/environment.conf.j2

    - name: p2k16 config - flyway
      tags:
        - systemd
        - update-password
      notify: p2k16 restart
      no_log: yes
      template:
        dest: "/etc/p2k16/flyway.conf"
        src: etc/p2k16/flyway.conf.j2

    - name: p2k16 config - logrotate
      copy:
        dest: /etc/logrotate.d/p2k16
        content: |
          /opt/p2k16/log/p2k16.log {
              daily
              dateext
              ifempty
              compress
              delaycompress
              missingok
              postrotate
                  kill -USR1 $(cat /opt/p2k16/p2k16.pid)
              endscript
          }

    - name: Create files
      copy:
        content: ""
        dest: "{{ item }}"
        force: no
        owner: p2k16
        mode: "u=rw,go="
      with_items:
#        - /opt/p2k16/.pgpass
        - /opt/p2k16/.pg_service.conf
        - /opt/p2k16/.psql_history
    - name: p2k16 config - ~/.pg_service.conf
      tags: update-password
      no_log: yes
      copy:
        dest: /opt/p2k16/.pg_service.conf
        owner: p2k16
        mode: "u=r,go="
        content: |
          [p2k16]
          user=p2k16-web
          dbname=p2k16
          host=localhost
          password={{ p2k16_secret.db_password_web }}
          [p2k16-flyway]
          user=p2k16-flyway
          dbname=p2k16
          host=localhost
          password={{ p2k16_secret.db_password_flyway }}
#    - name: p2k16 config - ~/.pgpass
#      lineinfile:
#        path: /opt/p2k16/.pgpass
#        regexp: "{{ item.re }}"
#        line: "{{ item.value }}"
#        owner: p2k16
#        mode: "u=r,go="
#      with_items:
#        - re: "localhost:5432:p2k16:p2k16-web:"
#          value: "localhost:5432:p2k16:p2k16-web:{{ p2k16_secret.db_password_web }}"
#        - re: "localhost:5432:p2k16:p2k16-flyway:"
#          value: "localhost:5432:p2k16:p2k16-flyway:{{ p2k16_secret.db_password_flyway }}"

- name: p2k16 main
  become: yes
  tags:
    - p2k16
    - p2k16-main
  block:
    - name: p2k16 packages
      apt:
        name: "{{ items }}"
        install_recommends: no
      vars:
        items:
          - python3
          - virtualenv
          - nodejs
          - unzip
          - openjdk-8-jre
          - mosquitto-clients
          - python-certbot
          - python-certbot-nginx
          - gcc # For twisted
          - python3-dev # For twisted

    - name: p2k16 git
      tags: p2k16-pull
      notify:
        - flyway migrate
        - p2k16 restart
      git:
        repo: 'https://github.com/bitraf/p2k16'
        dest: /opt/p2k16/src
        version: "{{ p2k16__git_version }}"
      register: git_checkout

    - name: Update GIT_REVISION
      tags: p2k16-pull
      lineinfile:
        path: "{{ environment_conf }}"
        regexp: "^GIT_REVISION="
        line: "GIT_REVISION={{ git_checkout.after }}"

    - name: p2k16 pip
      notify: p2k16 restart
      tags: p2k16-pull
      pip:
        requirements: /opt/p2k16/src/requirements.txt
        chdir: /opt/p2k16/env
        virtualenv: /opt/p2k16/env
        virtualenv_python: python3

    - name: p2k16 pip
      notify: p2k16 restart
      tags: p2k16-pull
      pip:
        name: /opt/p2k16/src/web
        editable: true
        virtualenv: /opt/p2k16/env
        virtualenv_python: python3
        extra_args: --trusted-host github.com --process-dependency-links

    # This is a hack for now. Will have to be removed when an updated
    # ldaptor is published. pip+git sucks.
    - name: p2k16 pip (ldaptor)
      notify: p2k16 restart
      tags: p2k16-pull
      pip:
        name: "git+https://github.com/twisted/ldaptor.git#egg=ldaptor"
        editable: true
        virtualenv: /opt/p2k16/env
        virtualenv_python: python3

    - name: p2k16 install bower
      notify: p2k16 restart
      npm:
        path: /opt/p2k16
        name: bower
        global: no

    - name: p2k16 bower install
      notify: p2k16 restart
      bower:
        path: /opt/p2k16/src/web
        relative_execpath: /opt/p2k16/node_modules/.bin

    - name: p2k16 systemd unit
      tags: systemd
      copy:
        src: etc/systemd/system/p2k16@.service
        dest: /etc/systemd/system/p2k16@.service

    - name: enable p2k16 systemd unit
      tags: systemd
      systemd:
        name: "p2k16@{{ p2k16.domain_name }}.service"
        daemon_reload: yes
        enabled: yes
        state: started

- import_tasks: ldap.yml
