{
  debug # enabled debug mode
  email itavdelingen@bitraf.no

#  admin {
#    origins 127.0.0.1 172.0.0.0/8
#  }
}

(p2k16) {
  reverse_proxy /* p2k16:5000 {
    header_up Host {{ p2k16_public_domain }}
    header_up X-Real-IP {remote}
  }
}

http://{{ p2k16_public_domain }}:8001 {
  import p2k16
}
