---
- name: Packages for unattended upgrades
  become: true
  apt:
    name: "{{ item }}"
    install_recommends: no
  with_items:
    - unattended-upgrades
    - apt-listchanges

- name: Configure /etc/apt/apt.conf.d/50unattended-upgrades
  become: true
  copy:
    dest: /etc/apt/apt.conf.d/50unattended-upgrades
    content: |
      Unattended-Upgrade::Origins-Pattern {
          "origin=Debian,codename=${distro_codename},label=Debian";
          "origin=Debian,codename=${distro_codename},label=Debian-Security";
          "origin=apt.postgresql.org,codename=${distro_codename}-pgdg,label=PostgreSQL for Debian/Ubuntu repository";
      }
      // Unattended-Upgrade::MinimalSteps "true";
      Unattended-Upgrade::Mail "itavdelingen@bitraf.no";
      Unattended-Upgrade::MailOnlyOnError "false";

- name: Configure /etc/apt/apt.conf.d/20auto-upgrades
  become: true
  copy:
    dest: /etc/apt/apt.conf.d/20auto-upgrades
    content: |
      APT::Periodic::Update-Package-Lists "1";
      APT::Periodic::Unattended-Upgrade "1";
