# Generate hwaddr with
#  echo $(od -vN 6 -An -tx1 /dev/urandom) |tr ' ' :
# Note that the last bit of the first byte can't be set! Keep that byte even!
# After you boot the container you'll get the IPv6 address

host_database:
  bitnode:
    interfaces:
      eth0:
        role: wan
        ipv4:
          address: 85.90.244.199
        ipv6:
          address: 2a01:7e01::f03c:91ff:fe67:e271
      int0:
        role: lan
        ipv4:
          address: 10.13.39.1
          netmask: 24
        ipv6:
          address: 2a01:7e01:e001:e1::1
          netmask: 64
  concourse:
    interfaces:
      lan:
        dns: concourse.lan.bitraf.no
        ipv4:
          address: 10.13.37.213
          netmask: 24
      wan:
        dns: concourse.bitraf.no
        ipv4:
          address: 77.40.158.111
          netmask: 27
          gateway: 77.40.158.100
        ipv6:
          address: 2001:840:4b0b:1000:77:40:158:111
          netmask: 64
          gateway: 2001:840:4b0b:1000::1
      
  marvin:
    interfaces:
      eth0:
        role: lan
        hwaddr: ea:d9:02:a1:71:89
        ipv4:
          address: 10.13.37.200
          netmask: 24
          gateway: 10.13.37.1
        ipv6:
          address: 2001:840:4b0b:1337:e8d9:2ff:fea1:7189
  mediawiki:
    interfaces:
      eth0:
        hwaddr: 38:04:cc:3f:7b:c0
        role: lan
        ipv4:
          address: 10.13.39.2
          netmask: 24
          gateway: 10.13.39.1
  mysql:
    interfaces:
      eth0:
        hwaddr: c0:f7:bc:31:f3:cb
        role: lan
        ipv4:
          address: 10.13.39.4
          netmask: 24
          gateway: 10.13.39.1
        ipv6:
          address: 2a01:7e01:e001:e1:c2f7:bcff:fe31:f3cb

  bite:
    interfaces:
      lan:
        dns: bite.lan.bitraf.no
        ipv4:
          address: 10.13.37.3

  heim:
    interfaces:
      lan:
        dns: heim.lan.bitraf.no
        ipv4:
          address: 10.13.37.4

  p2k16-production:
    interfaces:
      lan:
        dns: p2k16-production.lan.bitraf.no
        ipv4:
          address: 10.13.37.212
          netmask: 24
      wan:
        dns: p2k16-production.bitraf.no
        ipv4:
          address: 77.40.158.110
          netmask: 27
          gateway: 77.40.158.100
        ipv6:
          address: 2001:840:4b0b:1000:77:40:158:110
          netmask: 64
          gateway: 2001:840:4b0b:1000::1

  p2k16-staging:
    interfaces:
      lan:
        dns: p2k16-staging.lan.bitraf.no
        ipv4:
          address: 10.13.37.37 # this is the current value from DHCP, should be made static
          netmask: 24
      wan:
        dns: p2k16-staging.bitraf.no
        ipv4:
          address: 77.40.158.104
          netmask: 27
          gateway: 77.40.158.100
        ipv6:
          address: 2001:840:4b0b:1000:77:40:158:104
          netmask: 64
          gateway: 2001:840:4b0b:1000::1

  etikett2:
    interfaces:
      lan:
        dns: etikett2.lan.bitraf.no
        ipv4:
          address: 10.13.37.201

  bitraf-friskluft:
    interfaces:
      lan:
        dns: bitraf-friskluft.lan.bitraf.no
        ipv4:
          address: 10.13.37.229
