# Generate hwaddr with
#  echo $(od -vN 6 -An -tx1 /dev/urandom) |tr ' ' :
# Note that the last bit of the first byte can't be set! Keep that byte even!
# After you boot the container you'll get the IPv6 address

host_database:
  bitnode:
    interfaces:
      br0:
        role: wan
        ipv4:
          address: 10.13.39.1
          netmask: 24
        ipv6:
          address: 2a01:7e01:e001:e1::1
          netmask: 64
  marvin:
    interfaces:
      eth0:
        role: lan
        hwaddr: ea:d9:02:a1:71:89
        ipv4:
          address: 10.13.37.200
          netmask: 24
          gateway: 10.13.37.1
        ipv6:
          address: 2a01:7e01:e001:e1:3a04:ccff:fe3f:7bc0
  mediawiki:
    interfaces:
      eth0:
        hwaddr: 38:04:cc:3f:7b:c0
        role: lan
        ipv4:
          address: 10.13.39.2
          netmask: 24
          gateway: 10.13.39.1
