[Unit]
After=network.target

[Service]
ExecStart=/opt/riemann-zyxel-gs1200/venv/bin/riemann-zyxel-gs1200 /etc/riemann-zyxel-gs1200/config.ini
WorkingDirectory=/opt/riemann-zyxel-gs1200
Restart=on-failure
User=riemann-zyxel-gs1200
Group=riemann-zyxel-gs1200

[Install]
WantedBy=multi-user.target
