[Unit]
After=network.target

[Service]
ExecStart=/usr/local/bin/riemann-zyxel-gs1200 /etc/riemann-zyxel-gs1200/config.ini
WorkingDirectory=/etc/riemann-zyxel-gs1200
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
