- become: yes
  tags:
    - wordpress
    - wordpress-packages
  block:
    - name: packages
      vars:
        items:
          - php-apcu
          - php-fpm
          - php-gd
          - php-intl
          - php-mbstring
          - php-xml
          - php-zip
          - php-mysql
      apt:
        name: "{{ items }}"
        install_recommends: no

- become: yes
  tags:
    - wordpress
    - wordpress-php
  block:
    - name: Configure PHP settings
      notify: service restart php-fpm
      ini_file:
        path: /etc/php/7.0/fpm/php.ini
        section: "{{ item.section }}"
        option: "{{ item.option }}"
        value: "{{ item.value }}"
      with_items:
        - section: PHP
          option: upload_max_filesize
          value: 20M
        - section: PHP
          option: post_max_size
          value: 20M
        - section: mail function
          option: mail.log
          value: syslog
        - section: mail function
          option: sendmail_path
          value: /usr/sbin/sendmail
- become: yes
  tags:
    - wordpress
  block:
    - file:
        path: "{{ wordpress__install_path }}"
        state: directory
        owner: "{{ wordpress__user }}"
        group: "{{ wordpress__group }}"

    - name: Install
      unarchive:
        src: "http://wordpress.org/wordpress-{{ wordpress__version }}.tar.gz"
        dest: "{{ wordpress__install_path }}"
        remote_src: yes

    - name: "mkdir {{ wordpress__install_path }}/wordpress"
      file:
        path: "{{ wordpress__install_path }}/wordpress"
        state: directory
        owner: "{{ wordpress__user }}"

    - name: Fetch random salts for WordPress config
      local_action: command curl https://api.wordpress.org/secret-key/1.1/salt/
      register: "wordpress__salt"
      become: no

    - name: Copy WordPress config file
      template:
        src: wp-config.php
        dest: "{{ wordpress__install_path }}/wordpress"

    - name: Start php-fpm Service
      service:
        name: php7.0-fpm.service
        state: started
        enabled: yes

    - name: Change ownership of WordPress installation
      file:
        path: "{{ wordpress__install_path }}/wordpress/"
        owner: "{{ wordpress__user }}"
        group: "{{ wordpress__group }}"
        state: directory
        recurse: yes
#        setype: httpd_sys_content_t

    - name: "mkdir {{ wordpress__install_path }}/log"
      file:
        path: "{{ wordpress__install_path }}/log"
        state: directory

    - name: Set file permissions
      file:
        path: "{{ wordpress__install_path }}/wordpress/wp-content/"
        owner: www-data
        group: www-data
        recurse: yes
