---
- name: configure network interfaces
  tags: network
  become: yes
  copy:
    dest: /etc/network/interfaces
    content: |
      source /etc/network/interfaces.d/*

      auto lo
      iface lo inet loopback

- name: configure heim network interfaces
  tags: network
  become: yes
  copy:
    dest: /etc/network/interfaces.d/heim
    content: |
      auto enp2s0f0
      iface enp2s0f0 inet static
              address 77.40.158.113
              netmask 255.255.255.224
              gateway 77.40.158.97
      auto ens5

- name: configure name resolution
  tags: network
  become: yes
  copy:
    dest: /etc/resolv.conf
    content: |
      nameserver 8.8.8.8
      nameserver 8.8.4.4
