version: "3"

services:
  p2k16:
    image: "{{ docker_image }}:{{ docker_tag }}"
    restart: always
    networks:
      - web
    environment:
      P2K16_BIND: "0.0.0.0:5000"
      MQTT_HOST: "{{ p2k16.mqtt_host }}"
      MQTT_PORT: "{{ p2k16.mqtt_port }}"
      MQTT_USERNAME: "{{ p2k16.mqtt_username }}"
      MQTT_PASSWORD: "{{ bitraf_passwords.mqtt[p2k16.mqtt_username].password }}"
      MQTT_PREFIX: "{{ p2k16.mqtt_prefix }}"
      MQTT_PREFIX_TOOL: "{{ p2k16.mqtt_prefix_tool }}"
      MEMBERSHIP_CC: "{{ p2k16.membership_cc }}"
      LDAP_DB: "dbname=p2k16 user=p2k16-web password={{ p2k16_secret.db_password_web }} host={{ p2k16_pdb_host }}"
      SQLALCHEMY_DATABASE_URI: "postgresql://p2k16-web:{{ p2k16_secret.db_password_web }}@{{ p2k16_pdb_host }}/p2k16"
      SECRET_KEY: "{{ p2k16_secret.flask_secret_key }}"
      STRIPE_WEBHOOK_SECRET: "{{ p2k16_secret.stripe_webhook_secret }}"
      STRIPE_SECRET_KEY: "{{ p2k16_secret.stripe_secret_key }}"
      STRIPE_PUBLIC_KEY: "{{ p2k16_secret.stripe_public_key }}"

  caddy:
    image: caddy
    restart: always
    volumes:
      - {{ docker_service_root }}/caddy-data:/data
      - {{ docker_service_root }}/Caddyfile:/etc/caddy/Caddyfile
    ports:
      - "80:80"
      - "443:443"
    networks:
      - web

networks:
  web:

# vim: filetype=yaml:
